.post
    .box_blog
        .titulo_blog
            .img_blog    
                img.filtro_gris(src="img/blog.png", width="450" alt="img blog")
        .contenido_blog
            .titulo_blog_post.yellow
                .tag_blog
                    a(href="./categoria-1.html") #categoria 1 
                a(href="./post.html").titulo_post_img Análisis heurístico de los contenidos
                .fecha_blog.yellow 03 de Febrero del 2021
            .texto_blog_post ¿Cómo hacer un análisis heurístico a nuestros contenidos? Es una pregunta que más de alguna vez nos hemos planteado...
            //- a(href="./post.html").yellow Leer más #[i.fas.fa-angle-right]