@font-face {
    font-family: 'aileronblack';
    src: url('../fonts/aileron-black-webfont.eot');
    src: url('../fonts/aileron-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aileron-black-webfont.woff') format('woff'),
         url('../fonts/aileron-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'aileronbold';
    src: url('../fonts/aileron-bold-webfont.eot');
    src: url('../fonts/aileron-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aileron-bold-webfont.woff') format('woff'),
         url('../fonts/aileron-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'aileronregular';
    src: url('../fonts/aileron-regular-webfont.eot');
    src: url('../fonts/aileron-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aileron-regular-webfont.woff') format('woff'),
         url('../fonts/aileron-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'aileronsemibold';
    src: url('../fonts/aileron-semibold-webfont.eot');
    src: url('../fonts/aileron-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aileron-semibold-webfont.woff') format('woff'),
         url('../fonts/aileron-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'aileronthin';
    src: url('../fonts/aileron-thin-webfont.eot');
    src: url('../fonts/aileron-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aileron-thin-webfont.woff') format('woff'),
         url('../fonts/aileron-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'quanticobold';
    src: url('../fonts/quantico-bold-webfont.eot');
    src: url('../fonts/quantico-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quantico-bold-webfont.woff') format('woff'),
         url('../fonts/quantico-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?kapbk8');
  src:  url('../fonts/icomoon.eot?kapbk8#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?kapbk8') format('truetype'),
    url('../fonts/icomoon.woff?kapbk8') format('woff'),
    url('../fonts/icomoon.svg?kapbk8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\e906";
}
.icon-arrow_back:before {
  content: "\e907";
}
.icon-arrow_forward:before {
  content: "\e908";
}
.icon-mail:before {
  content: "\e905";
}
.icon-search:before {
  content: "\e909";
}
.icon-cosmic-cat .path1:before {
  content: "\e900";
  color: rgb(51, 51, 51);
}
.icon-cosmic-cat .path2:before {
  content: "\e901";
  margin-left: -1.123046875em;
  color: rgb(224, 224, 224);
}
.icon-cosmic-cat .path3:before {
  content: "\e902";
  margin-left: -1.123046875em;
  color: rgb(51, 51, 51);
}
.icon-cosmic-cat .path4:before {
  content: "\e903";
  margin-left: -1.123046875em;
  color: rgb(51, 51, 51);
}
.icon-rocket:before {
  content: "\e904";
}
.icon-folder:before {
  content: "\e92f";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-phone:before {
  content: "\e942";
}
.icon-facebook:before {
  content: "\ea91";
}
.icon-linkedin:before {
  content: "\eac9";
}