*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	// cursor: none;
}
a{
	text-decoration: none;
	color: $white;
}
ul{
	li{
		list-style: none;
	}
}
.section{
	// margin-bottom: 70px;
	padding-top: 70px;
}
.body{
	font-family: $regular;
	background-color: $black;
	color: $white;
	font-size: 16px;
}
.container{
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}
.yellow{
	color: $yellow;
}
.white{
	color: $white;
}
.btn_negro, .btn_amarillo{
	width: 100%;
    height: 50px;
    border-radius: 5px;
	font-family: $bold;
	line-height: 3;
	text-align: center;
	display: block;
	margin: 0 auto;
	transition: ease-in .3s;
	&:hover{
		transition: ease-out .3s;
		box-shadow: 0px 2px 5px 1px rgba($black, 0.5);
	}
}
.btn_negro{
    color: $yellow;
    background-color: $black;
	border: 2px solid $black;
	&:hover{
		
		background-color:$yellow;
		color: $black;
		border: 2px solid $black;
	}
}
.btn_amarillo{
	color: $black;
	background-color: $yellow;
	border: 2px solid $yellow;
	&:hover{
		background:rgba($black, 0.7);
		border-color: $yellow;
		color: $yellow;
	}
}
.titulo{
	margin-bottom: 40px;
	h3{
		font-family: $bold;
		font-size: 33px;
	}
	.line{
		width: 135px;
		height: 6px;
		background-color: $yellow;
	}
}
.filtro_gris{
	filter: grayscale(1);
	transition: ease-out .4s;
	&:hover{
		filter: none;
		transition: ease-out .4s;
	}
}
.hidden{
	display: none;
}
.hidden_md{
	display: none;
}
.buscador_blog{
	background-color: #333333;
	padding: 25px;
	width: 100%;
	.input_search{
		position: relative;
		background-color: $white;
		i{
			color: $grey;
			position: absolute;
			top: 10px;
			bottom: 0;
			font-size: 27px;
			height: 30px;
			margin-left: 8px;
		}
		input{
			border: none;
			outline: none;
			width: 100%;
			padding: 15px 20px;
			padding-left: 38px;
			&::placeholder{
				color: $grey;
			}
			&:focus-visible{
				// outline: none;
			}
		}
	}
	.menu_buscador{
		p{
			font-size: 22px;
			font-family: $bold;
		}
		ul{
			margin-top: 30px;
			li{
				list-style: none;
				margin: 10px 0;
				.active{
					font-family: $bold;
				}
			}
		}
		i{
			font-size: 13px;
			padding-right: 10px;
		}
	}
}

// carrusel

.box_carrusel{
	max-width: 1014px;
	width: 100%;
	margin: 0 auto;
}
.paginador{
	position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    bottom: -20px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
	.prev, .next,
	.prevC, .nextC{
		list-style: none;
		width: 15px;
		height: 35px;
		background-size: contain;
		cursor: pointer;
	}
	.prev, .prevC{
		background: url("../img/arrow.png")no-repeat;
	}
	.next, .nextC{
		background: url("../img/arrow.png")no-repeat;
		transform: rotateY(180deg);
	}
}
.slick-slide{
	margin: 0 20px;
}

// internas
// banner internas
.hero{
	height: 560px;
	margin-top: 0;
	position: relative;
	.box_hero{
		position: absolute;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		top: 0;
	}
	.box_intro_serv{
		display: flex;
		align-items: center;
		p{
			width: 550px;
			margin-right: 20px;
		}
	}
}
.intro_internas{
	.intro_internas_texto{
		p{
			margin: 20px 0;
		}
	}
}