//colors
$black      : #161B1E;
$dark-grey  : #9D9D9D;
$grey       : #C4C4C4;
$yellow     : #FED136;
$light-grey : #E5E5E5;
$white      : #fff;
$red        : #ED3A4E;
//fonts
$bold            : 'aileronbold';
$blackF          : 'aileronblack';
$thin            : 'aileronthin';
$regular         : 'aileronregular';
$semiBold        : 'aileronsemibold';
$quanticoBold    : 'quanticobold';
// mouse
$colorOutline: #ffffff;
$colorOutlineFade: #4e5559;
$widthMouse: 28px;
$heightMouse: 47px;
$borderMouse: 6px;
$posMouse: 8px;
$sizeTrackball: 5px;
$posTrackball: 10px;
$shrinkTrackball: 0.4;
$animDuration: 5s;
// etc
