.blog_home{
    .miga{
        margin-bottom: 70px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        height: 17px;
        font-size: 12px;
        .active{
            font-family: $bold;
        }
    }
    .entradas{
        margin-bottom: 50px;
        .box_blog{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 100%;
            .titulo_blog{
                width: 100%;
                margin-bottom: 40px;
                img{
                    width: 100%;
                    object-fit: cover;
                    height: 255px;
                }
            }
            .titulo_blog_post{
                .tag_blog{
                    a{
                        display: inline-block;
                        font-size: 10px;
                        color: $yellow;
                        margin-right: 5px;
                        margin-bottom: 20px;
                    }
                }
                .fecha_blog{
                    font-family: $regular;
                    font-size: 12px;
                }
                .titulo_post_img {
                    font-family: $blackF;
                    font-size: 22px;
                    margin-bottom: 10px;
                }
            }
            .contenido_blog{
                max-width: 635px;
                width: 100%;
                padding: 20px;
                .texto_blog_post{
                    margin-bottom: 20px;
                }
            }
        }
        .entrada_reciente{
            .box_blog{
                position: relative;
                .titulo_blog{
                    img{
                        filter: brightness(0.5);
                    }
                }
            }
            .titulo_blog_post{
                position: absolute;
                top: 0;
                padding: 20px;
                height: 250px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-start;
            }
        }
        .otras_entradas,.box_post{
            .box_blog{
                background-color: #333333;
            }
            .texto_blog_post{
                margin-top: 20px;
            }
            .box_posts{
                .post{
                    margin-bottom: 30px;
                }
            }
        }
        .box_cuerpo_post{
            .cuerpo_post{
                p{
                    margin-bottom: 10px;
                }
                h3{
                    font-size: 24px;
                    margin-bottom: 20px;
                    margin-top: 20px;
                }
                .img_post{
                    text-align: center;
                    margin-top: 30px;
                    margin-bottom: 30px;
                }
                .column_post{
                    img{
                        width: 100%;
                        height: 216px;
                        object-fit: cover;
                        margin-top: 30px;
                    }
                }
            }
            .contacto_autor{
                display: block;
                margin-top: 20px;
                font-weight:bold ;
            }
        }
        
    }
    .line_blog{
        border-top: 1px solid $yellow;
        margin-top: 35px;
        margin-bottom: 35px;
    }
    .btn_blog{
        margin-top: 30px;
    }

}
