header{
  background: linear-gradient(180deg, rgba(22,27,30,0.846673703661152) 3%, rgba(22,27,30,0.49933476808692223) 63%, rgba(22,27,30,0.06796221906731448) 100%);
  height: 80px;
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  top: 0;
  nav{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    img{
      transition: all ease-in-out .5s;
    }
    &.nav_logo{
      padding-top: 0;
      transition: all ease-in-out .5s;
      img{
        width: 200px;
      }
    }
    .encabezado{
      max-width: 290px;
      display: flex;
      align-items: center;
    }
    .btn_negro{
      background: rgba($black, 0.7);
      transition: ease-in .3s;
      border-color: $yellow;
      width: 200px;
      &:hover{
        border-color: $yellow;
      }
    }
    #burguer{
      cursor: pointer;
      margin-left: 20px;
      .line{
        width: 40px;
        height: 2.5px;
        background-color: $white;
        margin-top: 6px;
        margin-bottom: 6px;
        transition: ease-in .3s;
      }
    }
  }
  
  .velo{
    display: none;
    background-color: rgba(22, 27, 30, 0.9);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    .velo_menu{
      background-color: $yellow;
      max-width: 400px;
      height: 100%;
      margin-left: auto;
      width: 100%;
      padding: 40px 50px;
      position: absolute;
      right: -400px;      
    }
    .close{
      margin-left: auto;
      width: 37px;
      height: 29px;
      position: relative;
      cursor: pointer;
      .line{
        position: absolute;
        top: 0;
        width: 100%;
        height: 4px;
        background-color: $black;
        &:first-child{
          transform: rotate(45deg);
        }
        &:last-child{
          transform: rotate(-225deg);
        }
      }
    }
    .input_search{
      position: relative;
      // background-color: $white;
      margin-top: 40px;
      i{
        color: $black;
        position: absolute;
        top: 10px;
        bottom: 0;
        font-size: 27px;
        height: 30px;
        margin-left: 8px;
      }
      input{
        border: none;
        outline: none;
        width: 100%;
        padding: 15px 20px;
        padding-left: 38px;
        background: transparent;
        border: 2px solid $black;
        &::placeholder{
          color: $black;
        }
        &:focus-visible{
          // outline: none;
        }
      }
    }
    ul.item_menu{
      padding-top: 25px;
      padding-bottom: 50px;
      li{
        list-style: none;
        padding-bottom: 24px;
        color:$black;
        font-size: 12px;
        font-family: $blackF;
        a{
          font-size: 22px;
          display: inline-block;
          margin-left: 14px;
          color:$black;
          font-family: $blackF;
          &::after{
            content: '';
            display: block;
            width: 0;
            height: 3px;
            background:$black;
            transition: width .3s;
            bottom: -5px;
          }
          &:hover:after{
              width: 100%;
          } 
        }
        span{
          font-size: 22px;
          margin-left: 14px;
        }     
      }
    }
    .btn_negro{
      width: 100%;
    }
    .cotiza{
      margin: auto;
    }
  }
}