section.asesoria 
    .container
        .box_asesoria
            .info_asesoria 
                .img_prisma 
                    img(src="img/prisma.png" alt="prisma aureolab" width="52")
                .texto_asesoria
                    p ¿Necesitas ayuda?
                    p Te asesoramos completamente #[span.yellow gratis] para iniciar tu proyecto 
            a(href="" target="_blank").btn_asesoria.btn_amarillo Quiero una asesoría