.blog_home
    .section.hero#particles-producto.particle-class
        .container.box_hero
            .titulo
                h3.yellow Blog Aureolab
                .line
    .section
        .container 
            .miga
                a(href="https://spectrecode.github.io/pagina_aureolab/dist/" target="_blank") Home Aureolab
                i.icon-arrow_forward
                a(href="./") Blog
                i.icon-arrow_forward
                p.active Categoria 1
            .entradas 
                .otras_entradas
                    .titulo
                        h3.yellow Categoria 1
                    .box_posts
                        .post
                            .box_blog
                                .titulo_blog
                                    .img_blog    
                                        img.filtro_gris(src="img/blog.png", width="450" alt="img blog")
                                .contenido_blog
                                    .titulo_blog_post.yellow
                                        .tag_blog.yellow 
                                            p #UX/UI
                                        .fecha_blog.yellow 03 de Febrero del 2021
                                        p.titulo_post_img Análisis heurístico de los contenidos
                                    .texto_blog_post ¿Cómo hacer un análisis heurístico a nuestros contenidos? Es una pregunta que más de alguna vez nos hemos planteado, en especial dentro de una disciplina en desarrollo y crecimiento como lo es el UX Content.
                                    a(href="./post.html").yellow Leer más #[i.fas.fa-angle-right]
                        .post
                            .box_blog
                                .titulo_blog
                                    .img_blog    
                                        img.filtro_gris(src="img/blog.png", width="450" alt="img blog")
                                .contenido_blog
                                    .titulo_blog_post.yellow
                                        .tag_blog.yellow 
                                            p #UX/UI
                                        .fecha_blog.yellow 03 de Febrero del 2021
                                        p.titulo_post_img Análisis heurístico de los contenidos
                                    .texto_blog_post ¿Cómo hacer un análisis heurístico a nuestros contenidos? Es una pregunta que más de alguna vez nos hemos planteado, en especial dentro de una disciplina en desarrollo y crecimiento como lo es el UX Content.
                                    a(href="./post.html").yellow Leer más #[i.fas.fa-angle-right]
                        .post
                            .box_blog
                                .titulo_blog
                                    .img_blog    
                                        img.filtro_gris(src="img/blog.png", width="450" alt="img blog")
                                .contenido_blog
                                    .titulo_blog_post.yellow
                                        .tag_blog.yellow 
                                            p #UX/UI
                                        .fecha_blog.yellow 03 de Febrero del 2021
                                        p.titulo_post_img Análisis heurístico de los contenidos
                                    .texto_blog_post ¿Cómo hacer un análisis heurístico a nuestros contenidos? Es una pregunta que más de alguna vez nos hemos planteado, en especial dentro de una disciplina en desarrollo y crecimiento como lo es el UX Content.
                                    a(href="./post.html").yellow Leer más #[i.fas.fa-angle-right]
                        .post
                            .box_blog
                                .titulo_blog
                                    .img_blog    
                                        img.filtro_gris(src="img/blog.png", width="450" alt="img blog")
                                .contenido_blog
                                    .titulo_blog_post.yellow
                                        .tag_blog.yellow 
                                            p #UX/UI
                                        .fecha_blog.yellow 03 de Febrero del 2021
                                        p.titulo_post_img Análisis heurístico de los contenidos
                                    .texto_blog_post ¿Cómo hacer un análisis heurístico a nuestros contenidos? Es una pregunta que más de alguna vez nos hemos planteado, en especial dentro de una disciplina en desarrollo y crecimiento como lo es el UX Content.
                                    a(href="./post.html").yellow Leer más #[i.fas.fa-angle-right]
                        a(href="./").yellow #[i.fas.fa-angle-left] Volver al Home del blog  
                    a(href="" target="_blank").btn_blog.btn_amarillo Ver más publicaciones
                .buscador_blog 
                    .box_buscador 
                        .input_search 
                            i.icon-search
                            input(type="text" placeholder="Buscar en nuestro blog")
                        .line_blog 
                        .menu_buscador
                            p Categorias
                            ul 
                                li
                                    a(href="") Todo
                                li
                                    a.yellow.active #[i.icon-folder.yellow] Categoria 1
                                li
                                    a(href="./categoria-1.html") #[i.icon-folder.yellow] Categoria 1
                                li
                                    a(href="") #[i.icon-folder.yellow] Categoria 1
                                li
                                    a(href="") #[i.icon-folder.yellow] Categoria 1
                                li
                                    a(href="") #[i.icon-folder.yellow] Categoria 1
                                            

