.section.contacto
    .box_contacto
        p Y tú...#[br]¿Quieres despegar al mundo digital?
        a(href="https://aureolab.cl/cotizador/" target="_blank").btn_negro Contáctanos
        .box_medios_contacto
            .contacto_mail 
                img(src="img/mail.png", width="30" alt="Logo mail")
                a(href="mailto:contacto@aureolab.cl") contacto@aureolab.cl
            .contacto_cel
                img(src="img/cel.png", width="30" alt="Logo celular")
                a(href="tel:56951297699") + 56 951297699