footer
    .container
        .box_footer 
            .logo
                a(href="https://spectrecode.github.io/pagina_aureolab/dist" target='_blank')
                    img(src="img/logo_solo.png", alt="logo aureolab" width="100%")
            .redes 
                a(href="https://spectrecode.github.io/pagina_aureolab/dist/trabaja-con-nosotros.html" target="_blank").work.white Trabaja con nosotros
                .rrss 
                    a(href="" target="_blank")
                        i.yellow.fab.fa-facebook-square
                    a(href="" target="_blank")
                        i.yellow.fab.fa-linkedin