footer
    .container
        .box_footer 
            .logo
                a(href="./")
                    img(src="img/logo-aureolab-white-1.svg", alt="logo aureolab" width="100%")
            .redes 
                a(href="./trabaja-con-nosotros.html" target="_blank").work.white Trabaja con nosotros
                .rrss 
                    a(href="https://www.facebook.com/aureolabcl" target="_blank")
                        i.yellow.fab.fa-facebook-square
                    a(href="https://www.linkedin.com/company/aureolab/" target="_blank")
                        i.yellow.fab.fa-linkedin