header
    .container
        nav
            a(href="https://spectrecode.github.io/pagina_aureolab/dist" target='_blank')
                img(src="img/aureolab-logo-svg.svg", width="100" alt="Logo Aureolab")
            .b_menu
                ul.item_menu.hidden
                    li
                        a(href="./") Home blog
                    li
                        a(href="./categoria-1.html") Categoria 1                    
                    li 
                        a(href="") Categoria 2
                    li 
                        a(href="") Categoria 3
                    li 
                        a(href="") Categoria 4
                    li 
                        a(href="") Categoria 5
                #burguer
                    .line
                    .line
                    .line
        .velo
            .velo_menu
                .close
                    .line
                    .line
                ul.item_menu
                    li 01
                        a(href="./") Home blog
                    li 02
                        a(href="./categoria-1.html") Categoria 1                    
                    li 03
                        a(href="") Categoria 2
                    li 04
                        a(href="") Categoria 3
                    li 05
                        a(href="") Categoria 4
                    li 06
                        a(href="") Categoria 5
                a(href="").btn_negro#cotiza Contáctanos
