header
    .container
        nav
            a(href="./")
                img(src="img/logo-aureolab-white-2..svg", width="110" alt="Logo Aureolab")
            .encabezado
                a(href="https://aureolab.cl/cotizador/" target="_blank").hidden.btn_negro Contáctanos
                #burguer
                    .line
                    .line
                    .line
        .velo
            .velo_menu
                .close
                    .line
                    .line
                .input_search 
                    i.icon-search
                    input(type="text" placeholder="Buscar en nuestro blog")
                ul.item_menu
                    li 01
                        a(href="./") Home Aureolab
                    li 02
                        a(href="./") Ventas
                    li 03
                        a(href="./") Soporte
                    li 04
                        a(href="./") Startups
                    li 05
                        a(href="./") Diseño
                    li 06
                        a(href="./") Operaciones
                a(href="https://aureolab.cl/cotizador/" target="_blank").btn_negro Contáctanos
