.blog_home
    .hero#particles-producto.particle-class
        .container.box_hero
            .titulo
                h3.yellow Blog Aureolab
                .line
    .section
        .container 
            .miga 
                a(href="https://spectrecode.github.io/pagina_aureolab/dist/" target="_blank") Home Aureolab
                i.icon-arrow_forward
                p.active Blog
            .entradas 
                .entrada_reciente
                    .titulo
                        h3.yellow Entrada reciente
                    .post
                        .box_blog
                            .titulo_blog 
                                img(src="img/blog.png", width="450" alt="img blog")
                            .box_contenido
                                .titulo_blog_post.yellow
                                    .tag_blog
                                        a(href="./categoria-1.html") #ventas 
                                        a(href="") #soporte 
                                        a(href="") #operaciones 
                                    p.titulo_post_img Caso de Éxito: Hyla Chile
                                    .fecha_blog.yellow 03 de Febrero del 2021
                                .contenido_blog
                                    .texto_blog_post La empresa Hyla Chile, líder de venta de sistema de limpieza de aire y habitaciones (aspiradoras gama alta), buscaba digitalizar su proceso de control de ventas, clientes y manejo de stock en terreno para poder así mejorar su gestión operacional.
                                    a(href="./post.html").yellow Leer más #[i.fas.fa-angle-right]
                .titulo
                    h3.yellow Otras entradas
                .otras_entradas
                    .box_posts
                        include ../modules/post_vista
                        include ../modules/post_vista
                        include ../modules/post_vista
                        include ../modules/post_vista

                    a(href="" target="_blank").btn_blog.btn_amarillo Ver más publicaciones
                .buscador_blog.hidden_md
                    .box_buscador 
                        .input_search 
                            i.icon-search
                            input(type="text" placeholder="Buscar en nuestro blog")
                        .line_blog 
                        .menu_buscador
                            p Categorias
                            ul 
                                li
                                    a(href="") Todo
                                li
                                    a(href="./categoria-1.html") #[i.icon-folder.yellow] #Categoria 1
                                li
                                    a(href="") #[i.icon-folder.yellow] #Categoria 2
                                li
                                    a(href="") #[i.icon-folder.yellow] #Categoria 3
                                li
                                    a(href="") #[i.icon-folder.yellow] #Categoria 4
                                li
                                    a(href="") #[i.icon-folder.yellow] #Categoria 5
                                            

