.blog_home
    .section.hero#particles-producto.particle-class
        .container.box_hero
            .titulo
                h3.yellow Blog Aureolab
                .line
    .section
        .container 
            .miga 
                a(href="https://spectrecode.github.io/pagina_aureolab/dist/" target="_blank") Home Aureolab
                i.icon-arrow_forward
                a(href="./") Blog
                i.icon-arrow_forward
                p.active Análisis heurístico de los contenidos
            .entradas 
                .entrada_reciente
                    .post
                        .box_blog
                            .titulo_blog 
                                img(src="img/blog.png", width="450" alt="img blog")
                            .box_contenido
                                .titulo_blog_post.yellow
                                    .tag_blog.yellow 
                                        p #UX/UI
                                    .fecha_blog.yellow 03 de Febrero del 2021
                                    p.titulo_post_img Análisis heurístico de los contenidos
                .otras_entradas
                    .cuerpo_post
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        h3.yellow Subtítulo
                        .column_post
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            img(src="img/blog.png", width="337" alt="img blog")
                        .line_blog
                        .margin
                            p.yellow Tambien te puede interesar :
                            .box_posts
                                .post
                                    .box_blog
                                        .titulo_blog
                                            .img_blog    
                                                img.filtro_gris(src="img/blog.png", width="450" alt="img blog")
                                        .contenido_blog
                                            .titulo_blog_post.yellow
                                                .tag_blog.yellow 
                                                    p #UX/UI
                                                .fecha_blog.yellow 03 de Febrero del 2021
                                                p.titulo_post_img Análisis heurístico de los contenidos
                                            .texto_blog_post ¿Cómo hacer un análisis heurístico a nuestros contenidos? Es una pregunta que más de alguna vez nos hemos planteado, en especial dentro de una disciplina en desarrollo y crecimiento como lo es el UX Content.
                                            a(href="./post.html").yellow Leer más #[i.fas.fa-angle-right]
                                .post
                                    .box_blog
                                        .titulo_blog
                                            .img_blog    
                                                img.filtro_gris(src="img/blog.png", width="450" alt="img blog")
                                        .contenido_blog
                                            .titulo_blog_post.yellow
                                                .tag_blog.yellow 
                                                    p #UX/UI
                                                .fecha_blog.yellow 03 de Febrero del 2021
                                                p.titulo_post_img Análisis heurístico de los contenidos
                                            .texto_blog_post ¿Cómo hacer un análisis heurístico a nuestros contenidos? Es una pregunta que más de alguna vez nos hemos planteado, en especial dentro de una disciplina en desarrollo y crecimiento como lo es el UX Content.
                                            a(href="./post.html").yellow Leer más #[i.fas.fa-angle-right]
                                .post
                                    .box_blog
                                        .titulo_blog
                                            .img_blog    
                                                img.filtro_gris(src="img/blog.png", width="450" alt="img blog")
                                        .contenido_blog
                                            .titulo_blog_post.yellow
                                                .tag_blog.yellow 
                                                    p #UX/UI
                                                .fecha_blog.yellow 03 de Febrero del 2021
                                                p.titulo_post_img Análisis heurístico de los contenidos
                                            .texto_blog_post ¿Cómo hacer un análisis heurístico a nuestros contenidos? Es una pregunta que más de alguna vez nos hemos planteado, en especial dentro de una disciplina en desarrollo y crecimiento como lo es el UX Content.
                                            a(href="./post.html").yellow Leer más #[i.fas.fa-angle-right]
                            a(href="./").yellow #[i.fas.fa-angle-left] Volver al Home del blog  
                            
                .buscador_blog.post 
                    .box_buscador 
                        .input_search 
                            i.icon-search
                            input(type="text" placeholder="Buscar en nuestro blog")
                        .line_blog
                        .menu_buscador
                            p Categorias
                            ul 
                                li
                                    a(href="") Todo
                                li
                                    a(href="./categoria-1.html") #[i.icon-folder.yellow] Categoria 1
                                li
                                    a(href="") #[i.icon-folder.yellow] Categoria 1
                                li
                                    a(href="") #[i.icon-folder.yellow] Categoria 1
                                li
                                    a(href="") #[i.icon-folder.yellow] Categoria 1
                                li
                                    a(href="") #[i.icon-folder.yellow] Categoria 1
                                            

